
# Author: Elias Youssef H Netto
# This config file was based in several other configs,
# mainly by the one from Luke Smith (LARBS) and the default configuration.


# #---Basic Definitions---# #
# Remove window title
#for_window [class="^.*"] border pixel 2
for_window [class="^.*"] border none
# this allows me to toggle the title, better experience
# found here
# https://faq.i3wm.org/question/1238/is-it-possible-to-hide-window-title-for-all-windows.1.html
bindsym Control+Shift+1 [class="^.*"] border toggle


# set gaps
gaps inner 15
gaps outer 15

# cant remember
set $term --no-startup-id $TERMINAL

# set super as the key for commands
set $mod Mod4


# change keyboard layout
# exec_always "setxkbmap -layout us,br -option 'grp:alt_shift_toggle'"

# change notepad key to work as mod
#exec --no-startup-id /usr/bin/xmodmap "$HOME/.Xmodmap"


# #---Dropdown Windows---# #
# General dropdown window traits. The order can matter.
# Use xprop to get name of windows (just run it and click on targeted window)
for_window [instance="dropdown_*"] floating enable
for_window [instance="dropdown_*"] move scratchpad
for_window [instance="dropdown_*"] sticky enable
for_window [instance="dropdown_*"] scratchpad show
for_window [instance="dropdown_tmuxdd"] resize set 625 450
for_window [instance="dropdown_tmuxdd"] border pixel 3
for_window [instance="dropdown_*"] move position center
for_window [window_role="gimp-dock"] floating disable; move left; resize shrink width 50 px or 50ppt 
for_window [window_role="gimp-toolbox"] floating disable; move right; resize grow width 30 px or 30ppt 

# for metatrader
#for_window [title="Toolbox"] floating disable; move left; resize shrink width 50 px or 50ppt 


# changes for zoom video conference
for_window [class="zoom"] floating disable
for_window [window_role="annotate_toolbar"] floating disable
for_window [window_role="zoom_linux_float_video_window"] floating disable


# correct workspace setup for multiple monitors
workspace 1 output eDP-1-1
workspace 9 output HDMI-0

# to send output to other window
bindsym $mod+w move workspace to output eDP-1-1
bindsym $mod+e move workspace to output DP-5
bindsym $mod+Shift+w move workspace to output HDMI-0

# Change containers layout 
bindsym $mod+t layout tabbed
bindsym $mod+s layout stacking
bindsym $mod+n layout split


# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
#font pango:monospace 8
# to see the list of fonts in the pango engine,
# run on the command line
# pango-list 
font pango:MesloLGS NF Bold 8


# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
#bindsym $mod+Return exec alacritty
bindsym $mod+Return exec kitty 
bindsym $mod+Shift+Return split toggle; exec kitty 


# kill focused window
bindsym $mod+Shift+q kill


# Program launcher - rofi
#bindsym $mod+d exec rofi -show run -lines 5 -eh 2 -width 100 -padding 800 -opacity "85" -bw 0 -bc "#000000" -bg "#000000" -fg "#ffffff" -hlbg "#000000" -hlfg "#9575cd" -font "monospace 8"
bindsym $mod+d exec rofi -show run 

# change focus / moving focused window
bindsym $mod+h 	       focus left
bindsym $mod+Shift+h   move left 30

bindsym $mod+j         focus down
bindsym $mod+Shift+j   move down 30

bindsym $mod+k         focus up
bindsym $mod+Shift+k   move up 30

bindsym $mod+l         focus right
bindsym $mod+Shift+l   move right 30

# resizing windows
#bindsym $mod+Shift+y   exec --no-startup-id resize grow left
bindsym $mod+Shift+y   resize grow width 10 px or 10 ppt
bindsym $mod+Shift+u   resize grow height 10 px or 10 ppt
bindsym $mod+Shift+i   resize shrink height 10 px or 10 ppt
bindsym $mod+Shift+o   resize shrink width 10 px or 10 ppt

# change gaps size
bindsym $mod+q         gaps inner current plus 5
bindsym $mod+Shift+f   gaps inner current minus 5
bindsym $mod+z         gaps outer current plus 5
bindsym $mod+Shift+z   gaps outer current minus 5
bindsym $mod+Shift+d   gaps inner current set 0; gaps outer current set 0
bindsym $mod+Shift+t   gaps inner current set 15; gaps outer current set 15

# split toggle
bindsym $mod+x split toggle


# check arender para multiscreen setup

# settings for volume control
# Using amixer
# bindsym XF86AudioRaiseVolume exec amixer -q -D pulse sset Master 5%+ && pkill -RTMIN+1 i3blocks 
# bindsym XF86AudioLowerVolume exec amixer -q -D pulse sset Master 5%- && pkill -RTMIN+1 i3blocks
# bindsym XF86AudioMute exec amixer -q -D pulse sset Master toggle && pki

# Using pactl
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +10%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -10%
bindsym XF86AudioMute exec pactl set-sink-volume @DEFAULT_SINK@ 0%
# uses amixer, alternatives are pactl, pavucontrol, pulseaudio(?)


# settings for brightness

#bindsym XF86MonBrightnessUp exec --no-startup-id  xbacklight -inc 5% -time 0 #increase brightness
#bindsym XF86MonBrightnessDown exec --no-startup-id  xbacklight -dec 5% -time 0  #decrease brightness

# usando light # it asks for sudo, it is preferable to use something such as xrandr
#bindsym XF86MonBrightnessUp exec light -A 5
#bindsym XF86MonBrightnessDown exec light -U 5

# alternativa usando xrandr
bindsym XF86MonBrightnessUp exec xrandr --output eDP-1 --brightness 1
bindsym XF86MonBrightnessDown exec xrandr --output eDP-1 --brightness 0


# Media player controls
bindsym XF86AudioPlay exec playerctl play
bindsym XF86AudioPause exec playerctl pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

# Screenshot
#bindsym Print exec "scrot -u -s ~/Downloads/screenshots/Screenshot%Y-%m-%d%H:%M:%S.png"
#bindsym XF86ScreenSaver exec "scrot ~/Downloads/Screenshot%Y-%m-%d%H:%M:%S.png"
# bindkey correta e usando Print
bindsym Print exec "dbus-launch flameshot gui -p ~/Downloads/screenshots/Screenshot%Y-%m-%d%H:%M:%S.png"

# to see keys to use mapping
# sudo showkey
# xorg-xev
# xev
# exec xbacklight -inc 10;
# xmodmap -pke

# keyboard 
#exec_always sudo kbd-backlight profile0 ~/project_repositories/dotfiles/kbd-backlight-config/config


# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10


# import container from workspace x to current one
# https://www.reddit.com/r/i3wm/comments/a5sz72/how_can_i_move_a_window_from_a_different/
#bindsym $mod+x move workspace 1  to workspace current
#bindsym $mod+x+2 move workspace 2  to workspace current
#bindsym $mod+x+3 move workspace 3  to workspace current
#bindsym $mod+x+4 move workspace 4  to workspace current
#bindsym $mod+x+5 move workspace 5  to workspace current
#bindsym $mod+x+6 move workspace 6  to workspace current
#bindsym $mod+x+7 move workspace 7  to workspace current
#bindsym $mod+x+8 move workspace 8  to workspace current
#bindsym $mod+x+9 move workspace 9  to workspace current
#bindsym $mod+x+0 move workspace 10 to workspace current

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# open i3 config
#bindsym $mod+c exec --no-startup-id vim ~/dotfiles/i3.config


####################################

## Start other applications

# dual screen mode
# Right side
#exec_always --no-startup-id xrandr --output HDMI-1 --mode 1920x1080 --pos 1920x0 --rotate normal --output eDP-1-1 --mode 1920x1080 --pos 0x0 --rotate normal

# Left side
#  if you find some error, or the monitor is not displaying, trying add a mode to the currently listed display
#  with, e.g.,
# xrandr --addmode HDMI-0 1920x1080
# after that xrandr listed the name of the output correctly

# 3 monitors
#
exec_always --no-startup-id xrandr --output DP-0 --off --output DP-1 --off --output DP-2 --off --output DP-3 --off --output HDMI-0 --mode 1920x1080 --pos 0x0 --rotate normal --output DP-4 --off --output DP-5 --mode 1920x1080 --pos 3840x0 --rotate normal --output eDP-1-1 --mode 1920x1080 --pos 1920x0 --rotate normal

# one monitor
# exec_always --no-startup-id xrandr --output DP-5 --mode 1920x1080 --pos 0x0 --rotate normal 

# Wallpaper
exec_always --no-startup-id feh --no-fehbg --bg-fill $HOME/Fotos/wallpapers/current/current


# Set colors from Xresources
# colors are set by the pywal launch script 
# ~/project_repositories/dotfiles/pywal/pywal_launch.sh  
# Change 'color7' and 'color2' to whatever colors you want i3 to use 
# from the generated scheme.
# NOTE: The '#f0f0f0' in the lines below is the color i3 will use if
# it fails to get colors from Xresources.
# color07 is the main foreground color
set_from_resource $fg i3wm.color7 #f0f0f0
# color goes from 01 to 06 from darker to lighter
set_from_resource $bg i3wm.color6 #f0f0f0 
set_from_resource $bg_unf i3wm.color1 #f0f0f0
set_from_resource $bg_ina i3wm.color4 #f0f0f0


# class                 border  backgr. text indicator child_border
client.focused          $bg     $bg     $fg  $bg       $bg
client.focused_inactive $bg_ina $bg_ina $fg  $bg_ina   $bg_ina
client.unfocused        $bg_unf $bg_unf $fg  $bg_unf   $bg_unf
client.urgent           $bg     $bg     $fg  $bg       $bg
client.placeholder      $bg     $bg     $fg  $bg       $bg
client.background       $bg

# Set rofi colors with Pywall
# you have to clean the cache first, without that the pywall does not notice the new picture,
# since we always use the same base name
# this should be fixed according to this issue, but apparently it is not
# https://github.com/dylanaraps/pywal/issues/429
exec_always --no-startup-id /usr/bin/wal -c && /usr/bin/wal --backend wal --saturate 1 --backend colorz -i /home/eliasy/Fotos/wallpapers/current/current > /home/eliasy/Fotos/wallpapers/current/pywall.log 2>&1
#exec_always --no-startup-id sleep 2; /project_repositories/dotfiles/pywal/pywal_launch.sh

# copy the new session colors to .Xresources
exec_always --no-startup-id cp /home/eliasy/.cache/wal/colors.Xresources /home/eliasy/project_repositories/dotfiles/xorg/home/.Xresources

# copy the new rofi file for the correct folder
exec_always --no-startup-id cp /home/eliasy/.cache/wal/colors-rofi-dark.rasi /home/eliasy/project_repositories/dotfiles/rofi/colors-rofi-dark.rasi

# Launch polybar
# have to add sleep or else reloading pywall conflicts with polybar
exec_always --no-startup-id sleep 2; /home/eliasy/project_repositories/dotfiles/polybar/launch.sh

# Launch picom (compton substitute) - missing still fade effect
exec_always --no-startup-id $HOME/project_repositories/dotfiles/picom/launch.sh

# given zoom problem, I had to change to xcompmgr
# source: https://support.zoom.us/hc/en-us/articles/202082128-Black-Screen-During-Screen-Sharing
#exec_always --no-startup-id xcompmgr -c -l0 -t0 -r0 -o.00

# hides mouse
exec_always --no-startup-id unclutter --timeout 1

# Launch redshift
exec_always --no-startup-id /home/eliasy/project_repositories/dotfiles/redshift/redshift_launch.sh

# Launch dunst (notification daemon)
#exec --no-startup-id /usr/bin/dunst

# Launch conky
#exec_always --no-startup-id $HOME/dotfiles/conkystartup.sh

# kdeconnect 
# exec --no-startup-id /usr/lib/kdeconnectd



